* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-color:#1C1C1C; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

ul { 
	list-style: none;
}
a {
	text-decoration: none; 
}

button { 
cursor: pointer; 
border: none; 
background: none; 
}

img { width: 100%;
}

.section-content {
  margin: 0;
  padding: 0 40px;
  max-width: 100%;
}

.logo {
	font-size: 3rem;
	color: #C9A227;
	font-weight: 800;
	cursor: pointer;
	transition: 0.5s ease;
}

.logo:hover {
	transform: scale(1.1);
	color: #F5F5F5;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  width: 100%;
  box-sizing: border-box;
}

@font-face {
  font-family: 'MoonTime';
  src: url('moon-time-regular.ttf');
}

.logo-text {
  font-family: 'MoonTime', cursive;
  font-size: 3rem;
  color: #C9A66B;
  font-weight: 650;
  letter-spacing: 1px;
}


.logo-text span {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #C9A66B;
  margin-left: 6px;
  letter-spacing: 0.5px;
}

.navbar .logo .logo-text {
  color: #C9A66B;
  font-size: 24px;
  font-weight: 700;
}

.navbar .nav-menu {
  display: flex;
  gap: 20px;
}

.navbar .nav-menu .nav-link {
  padding: 8px 16px;
  color: #1C1C1C;
  font-size: 15px;
  background: #F5F5F5;
  border-radius: 50px;
  font-weight: 500;
  transition: background 0.3s ease, color 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
}

.navbar .nav-menu .nav-link.active {
  background: #C9A66B; 
  color: #fff; 
}

.navbar .nav-menu .nav-link:hover {
  color: #fff; 
  background: #C9A66B;
}

body {
  margin: 0;
  background: #2b2b2b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.image {
  width: 200px;
  height: 200px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}

.image h1,
.image p {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.8s ease;
}

.image h1 {
  font-size: 1.2rem;
  color: #FFD700; 
}

.image p {
  font-size: 0.9rem;
  margin-top: 8px;
  color: white;
}

.image:hover {
  box-shadow: 0 0 0 200px rgba(0,0,0,0.5) inset;
  cursor: pointer;
  transition: 0.5s ease;
  transform: scale(1.1);
}

.image:hover h1,
.image:hover p {
  opacity: 1;
  transform: scale(1);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  padding: 40px 60px;
}

.gallery-section {
  margin-bottom: 60px;
  color: #C9A66B;
  margin-left: 20px;
}

.gallery-section h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  color: #C9A66B; 
}

footer {
  background: #000;
  color: gray;
  text-align: center;
  padding: 20px 10px;
  font-size: 0.9rem;
  width: 100%;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.3);
  border-top: 1px solid #222;
  bottom: 0;
  left: 0;
}

footer p {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer p img {
  width: 15px;
  height: 15px;
}

.social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-links a {
  display: flex;
  align-items: center;
  color: gray;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #FFA500;
}

.social-links img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 8px;
}