* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  margin-top: -100px;
  padding: 0;
  background: #2b2b2b;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; 
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: #1C1C1C;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: #C9A227;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
  color: #F5F5F5;
}

.home {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;
  padding: 40px 20px;
  gap: 1.5rem;
  margin-top: 100px;
}

.home-img img {
  width: 240px;
  max-width: 280px;
  margin-bottom: 25px;
  display: block;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.6);
  border: 3px solid #C9A227;
  border-radius: 20px;
}

.home-content {
  color: #fff;
  max-width: 700px;
}

.home-content .brand-title {
  font-size: clamp(4rem, 5vw, 7rem);
  color: #C9A66B;
  font-family: MoonTime;
  font-weight: 650;
  margin-bottom: 20px;
}

.home-content .brand-title span {
 font-size: clamp(1rem, 2vw, 2rem);
  color: #C9A66B;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

.home-content .description {
  font-size: clamp(1.4rem, 2vw, 2rem);
  margin-bottom: 30px;
  line-height: 1.4;
}

.home-content .hours h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #C9A66B;
}

.home-content .hours p {
  font-size: 1.6rem;
  margin: 6px 0;
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border: 0.2rem solid #C9A227;
  color: #C9A227;
  font-size: 2rem;
  border-radius: 50%;
  margin: 1rem;
  transition: 0.3s ease;
}

.social-icons a:hover {
  background-color: #3C3C3C;
  transform: scale(1.1);
}

.button {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: #3C3C3C;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #F5F5F5;
  letter-spacing: 0.2rem;
  font-weight: 600;
  border: 2px solid #C9A227;
  transition: 0.3s ease;
}


.button:hover {
  background-color: #C9A227;
  color: #3C3C3C;
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(201, 162, 39, 0.6);
}

footer {
  background: #000;
  color: gray;
  text-align: center;
  padding: 20px 10px;
  font-size: 1.4rem;
  width: 100%;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.3);
  border-top: 1px solid #222;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer p {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer p img {
  width: 15px;
  height: 15px;
}

.social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-links a {
  display: flex;
  align-items: center;
  color: gray;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #FFA500;
}

.social-links img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 8px;
}
